* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Roboto';
  src: url("assets/fonts/Montserrat/Montserrat-Medium.ttf");
  font-weight: 100;
  font-weight: 500;
}

:root{
  --main-color: rgb(192, 18, 192);
  --text-color: #222;
  --white: #ffffff;
  --gray: rgb(78, 78, 80);
  --light-gray: #e1e1e1;
 


}

h1{
  font-size: 48px;
  margin: 20px 0 10px 0;
  font-weight: 100;
}
ul, li>ul, li {line-height: 20px;}

li>ul{
  padding-top: 5px;
}
li{
  padding-bottom: 7px;
}
html {
  scroll-behavior: smooth; 
}
body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
  margin: 0; padding: 0;
  font-size: 14px;
  font-family: 'Montserrat', 'Roboto', 'Helvetica',  sans-serif;
  color: var(--text-color);
}
body main img {
  border-radius: 10px;
  margin-top: 0px;
  border: 1px solid var(--gray);
}
.nav img{
border-radius: 20px;
}
.nav .img{
  display: none;
}
/*
header {
  position: sticky;
  top: 0px;
  background: var(--white);
  z-index: 1;
}*/
.main .container{border-left: 1px solid var(--gray);
  border-right: 1px solid var(--gray);
  }

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0px 20px;
  display: flex;
    justify-content: center;
      list-style: none;
    flex-wrap: wrap;
    align-items: flex-start;
}
.footer .container{
  justify-content: space-between;
    align-items: center;
}
span.year{
  font-size: 20px;
}
span.year1{
  font-size: 12px;
}
header .container{
  border: 1px solid var(--gray);
  border-bottom: 1px solid transparent;}


footer .container{border: 1px solid var(--gray);
  border-top: 1px solid transparent;}
.nav-list{display: flex;justify-content: center;align-items: center;list-style: none; flex-wrap: wrap;padding: 0;}
.nav-list a {text-decoration: none; color:var(--text-color); font-weight: normal;}
.nav-item{padding: 10px 20px;font-size: 16px;}
.nav-link {
  padding: 10px 0px;
  border: 0px solid #ccc;
  transition: .3s;
  white-space: nowrap;
}
.nav-link:hover {
  cursor: pointer;
  border-bottom: 1px solid var(--text-color);
}
.section{padding: 10px 0px;
  align-items: center;
  display: flex;
  flex-direction: column;
  min-width: 50%;
  width: calc((30em - 100%) * 1000);
  max-width: 100%;
  border-radius: 0px;
 
}

.section__footer{
  padding: 15px 0px;
  align-items: center;
  display: flex;
  flex-direction: column;
  min-width: 30%;
  width: calc((30em - 100%) * 1000);
  max-width: 33%;
  
}
.section#profile{
  width: 100%;
  padding-bottom: 30px;
  padding-top: 30px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
    flex-wrap: wrap;
   /* background: #222 url(assets/img/matrix-code.jpg) repeat-x;
  
    background-size: 300px;*/
}

 .profile__img{
      
  position: relative;
  left: 125px;
  
  -webkit-animation: profile__img 0.7s 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: profile__img 0.7s 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes profile__img {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-150px);
            transform: translateX(-150px);
  }
}


.profile__name {
  
  
    background-color: white;
    padding: 0px;
    border-radius: 10px;
    left: -125px;
    position: relative;
    border: 1px solid var(--gray);
    -webkit-animation: profile__name 0.7s 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: profile__name 0.7s 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@keyframes profile__name {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(150px);
            transform: translateX(150px);
  }
}
@-webkit-keyframes profile__name {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(150px);
            transform: translateX(150px);
  }
}

/*
@media (max-width: 1000px){
  .section#profile .profile__img{
    
    
  
  }
  
  
  .profile__name {
   
  
    
  
  }

}*/

@media (max-width: 500px){
  
  ul, li>ul {padding-left: 30px;}
  
  .profile__img{
      
    position: relative;
    top: 0px;
    left: 0px;
    -webkit-animation: profile__img 0.7s 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: profile__img 0.7s 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
  @keyframes profile__img {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
  }
  @-webkit-keyframes profile__img {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
  }
  
  
  .profile__name {
    
    
      background-color: white;
      padding: 0px;
      border-radius: 10px;
      top: -254px;
      left: 0px;
      position: relative;
      border: 1px solid var(--gray);
      -webkit-animation: profile__name 0.7s 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: profile__name 0.7s 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
  @keyframes profile__name {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateY(270px);
              transform: translateY(270px);
    }
  }
  @-webkit-keyframes profile__name {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateY(270px);
              transform: translateY(270px);
    }
  }


  section#summary{

    margin-top: -250px;
    -webkit-animation: summary 0.7s 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: summary 0.7s 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
  @keyframes summary {
    0% {
      margin-top: -250px;
    }
    100% {
      margin-top: 0px;
    }
  }
  @-webkit-keyframes summary {
    0% {
      margin-top: -250px;
    }
    100% {
      margin-top: 0px;
    }
  }

  .button {
      bottom: 35px !important; right: 10px !important;
  
   
  }
  .cap {
   
    
    bottom: 34px !important; right: 9px !important;
    
    
  }

  .youtube_player{
width:auto;
  }

}
@media (max-width: 999px){

.youtube_player{
  width:auto;
    }
  }

@media (min-width: 1000px){

  .container{padding: 0px 40px;}
}

.profile__name_1 {
  position: relative;
  left: 170px;
  top: -200px;
    background-color: white;
    padding: 0px;
    border-radius: 10px;
   

}
/*
.section#profile .profile__img{
padding: 15px 0px;
align-items: center;
display: flex;
flex-direction: column;
min-width: 50%;
width: calc((25em - 100%) * 1000);
max-width: 100%;

}
.profile__name {
  padding: 15px 0px;
  align-items: center;
  display: flex;
  flex-direction: column;
  min-width: 50%;
  width: calc((25em - 100%) * 1000);
  max-width: 100%;
  }*/

.profile__name__gh{
  padding: 0px 20px 20px 20px;
  
  /*-webkit-box-shadow: 4px 4px 5px 0px rgba(34, 60, 80, 0.2);
-moz-box-shadow: 4px 4px 5px 0px rgba(34, 60, 80, 0.2);
box-shadow: 4px 4px 5px 0px rgba(34, 60, 80, 0.2);*/
background-color: white;
border-radius: 10px;

display: flex;
flex-direction: column;
justify-content: center;
width: 248px;
    height: 248px;
}



.section__pattern{
  display: flex;
  align-items: center;
  flex-direction: column;
-webkit-transition: all 0.3s ease;;
-moz-transition: all 0.3s ease;;
-o-transition: all 0.3s ease;;
transition: all 0.3s ease;

}
/*
.section:hover .section__pattern{
  background-color: var(--light-gray);
  box-shadow: inset 0 0 0 13px var(--gray);
}*/
.skills{
  list-style: none;
  padding: 0;
}
.skill-bar{
position: relative;
margin: 0px 0 30px;
font-size: 15px;
}
.skill-bar span, .skill-bar::before{
  content: "";
    position: absolute;
    bottom: -10px;
    display: block;
    height: 4px;
    width: 100%;
    background-color: var(--light-gray);
}

.skill-bar span{
  bottom: -10px;
  height: 4px;
background-color: var(--gray);
}


code{
  font-size: 12px;

}

.lang__section{
  display: flex;
  flex-direction: column;
}
section#profile{
  order: 0;
}
section#summary{
  order: 1;
}
section#contacts{
  order: 2;
}
section#contacts li{
  white-space: nowrap;
}


section#skills{
  order: 3;
}
section#code{
  order: 4;
}

section#exp{
  order: 5;
}
section#video{
  order: 7;
}
section#education{
  order: 6;
}

section#languages{
  order: 8;
}
.button {
  display: block;
  background: url(assets/img/up-arrow.png) center no-repeat;
  height: 32px; width: 32px;
  position: fixed; bottom: 20px; right: 20px;
  z-index: 1;
  background-size: 32px 32px;
 
}
.cap {
  background-color: #fff;
  height: 40px; width: 40px;
  position: absolute; bottom: 20px; right: 20px;
  z-index: 2;
  
}
.youtube_player{
  border-radius: 10px;
}